<?xml version="1.0" encoding="UTF-8"?>
 
<config>
 
    <modules>
 
        <Mycustom_Newsletter>
 
            <version>0.1.0</version>
 
        </Mycustom_Newsletter>
 
    </modules>
 
    <frontend>
 
        <routers>
 
            <newsletter>
 
                <args>
 
                    <modules>
 
                        <Mycustom_Newsletter before="Mage_Newsletter_SubscriberController">Mycustom_Newsletter</Mycustom_Newsletter>
 
                    </modules>
 
                </args>
 
            </newsletter>
 
        </routers>
 
    </frontend>
 
</config>