<?xml version="1.0"?>
<config>
    <modules>
        <Brainium_Banner>
            <version>0.1.0</version>
        </Brainium_Banner>
    </modules>
    <frontend>
        <routers>
            <banner>
                <use>standard</use>
                <args>
                    <module>Brainium_Banner</module>
                    <frontName>banner</frontName>
                </args>
            </banner>
        </routers>
        <layout>
            <updates>
                <banner>
                    <file>banner.xml</file>
                </banner>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<banner>
				<use>admin</use>
				<args>
					<module>Brainium_Banner</module>
					<frontName>banner</frontName>
				</args>
			</banner>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<banner module="banner">
				<title>Banner</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="banner">
						<title>Manage Banners</title>
						<sort_order>0</sort_order>
						<action>banner/adminhtml_banner</action>
					</items>
				</children>
			</banner>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Brainium_Banner>
							<title>Banner Module</title>
							<sort_order>10</sort_order>
						</Brainium_Banner>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<banner>
					<file>banner.xml</file>
				</banner>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <banner>
                <class>Brainium_Banner_Model</class>
                <resourceModel>banner_mysql4</resourceModel>
            </banner>
            <banner_mysql4>
                <class>Brainium_Banner_Model_Mysql4</class>
                <entities>
                    <banner>
                        <table>banner</table>
                    </banner>
                </entities>
            </banner_mysql4>
        </models>
        <resources>
            <banner_setup>
                <setup>
                    <module>Brainium_Banner</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </banner_setup>
            <banner_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </banner_write>
            <banner_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </banner_read>
        </resources>
        <blocks>
            <banner>
                <class>Brainium_Banner_Block</class>
            </banner>
        </blocks>
        <helpers>
            <banner>
                <class>Brainium_Banner_Helper</class>
            </banner>
        </helpers>
    </global>
</config>