<?xml version="1.0"?>
<config>
    <modules>
        <Netgains_Stripe>
            <version>0.1.0</version>
        </Netgains_Stripe>
    </modules>
    <frontend>
        <routers>
            <stripe>
                <use>standard</use>
                <args>
                    <module>Netgains_Stripe</module>
                    <frontName>stripe</frontName>
                </args>
            </stripe>
        </routers>
        <layout>
            <updates>
                <stripe>
                    <file>stripe.xml</file>
                </stripe>
            </updates>
        </layout>
    </frontend>
    <global>
    	<fieldsets>
    		 <sales_convert_quote_payment>
    		 	<check_no>
    		 		<to_order_payment>*</to_order_payment>
    		 	</check_no>
    		 	<check_date>
    		 		<to_order_payment>*</to_order_payment>
    		 	</check_date>
    		 </sales_convert_quote_payment>
    	</fieldsets>
        <models>
            <stripe>
                <class>Netgains_Stripe_Model</class>
                <resourceModel>stripe_mysql4</resourceModel>
            </stripe>
            <stripe_mysql4>
                <class>Netgains_Stripe_Mysql4</class>
                <entities>
                    <stripe>
                        <table>stripe</table>
                    </stripe>
                </entities>
            </stripe_mysql4>
        </models>
        <resources>
            <stripe_setup>
                <setup>
                    <module>Netgains_Stripe</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </stripe_setup>
            <stripe_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </stripe_write>
            <stripe_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </stripe_read>
        </resources>
        <blocks>
            <stripe>
                <class>Netgains_Stripe_Block</class>
            </stripe>
        </blocks>
        <helpers>
            <stripe>
                <class>Netgains_Stripe_Helper</class>
            </stripe>
        </helpers>
    </global>
    <default>
        <payment>
            <stripe>
                <active>1</active>
                <model>stripe/stripe</model>
                <order_status>processing</order_status>
                <title>Netagins Stripe </title>
                <message>Please enter your credit card information</message>
            </stripe>
         </payment>
    </default>
</config>
