<?xml version="1.0"?>
<config>
  <modules>
    <SSTech_Quickorder>
      <version>0.0.1</version>
    </SSTech_Quickorder>
  </modules>
  <frontend>
    <routers>
      <quickorder>
        <use>standard</use>
          <args>
            <module>SSTech_Quickorder</module>
            <frontName>quickorder</frontName>
          </args>
      </quickorder>
    </routers>
		<layout>
		  <updates>
			<quickorder>
			  <file>quickorder.xml</file>
			</quickorder>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <quickorder>
        <class>SSTech_Quickorder_Helper</class>
      </quickorder>
    </helpers>
	<blocks>
	  <quickorder>
		<class>SSTech_Quickorder_Block</class>
	  </quickorder>
	</blocks>
  </global>
</config> 
