<config>
    <modules>
        <PI_Stores>
            <version>0.1.0</version>
        </PI_Stores>
    </modules>
    <admin>
        <routers>
				<stores>
					<use>admin</use>
					<args>
						<module>PI_Stores</module>
						<frontName>stores</frontName>
					</args>
				</stores>
        </routers>
    </admin>
    <frontend>
        <routers>
            <stores>
                <use>standard</use>
                <args>
                    <module>PI_Stores</module>
                    <frontName>stores</frontName>
                </args>
            </stores>
        </routers>
        <layout>
            <updates>  
            		   <stores>           
                    <file>stores.xml</file>
                    </stores>             
            </updates>
        </layout>
    </frontend>
    <adminhtml>
		<menu>
			<stores module="stores">
				<title>Stores</title>
				<sort_order>1000</sort_order>               
				<children>
					<items module="stores">
						<title>Manage Stores</title>
						<sort_order>1</sort_order>
						<action>stores/adminhtml_index</action>
					</items>							
				</children>
			</stores>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<stores translate="title" module="stores">
							<title>Stores</title>
							<sort_order>300</sort_order>
							<children>
								<!-- child items go here -->
								<items translate="title" module="stores">
									<title>Manage Stores</title>
									<sort_order>1</sort_order>
								</items>
							</children>
						</stores>
						<system>
                            <children>
                                <config>
                                    <children>
                                        <piextensionsstore>
                                            <title>PI Extensions</title>
                                        </piextensionsstore>
                                    </children>
                                </config>
                            </children>
                        </system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
	<global>
		<helpers>
			<stores>
				<class>PI_Stores_Helper</class>
			</stores>
		</helpers>
		<blocks>
			<stores>
				<class>PI_Stores_Block</class>
			</stores>
		</blocks>
		<models>
					<stores>
						<class>PI_Stores_Model</class>
						<resourceModel>stores_mysql4</resourceModel>
					</stores>			
					<stores_mysql4>
						<class>PI_Stores_Model_Mysql4</class>
						<entities>
								<stores>
									<table>stores</table>						
								</stores>							
						</entities>
					</stores_mysql4>			
		</models>
		<resources>
					<stores_setup>
						<setup>
								<module>PI_Stores</module>
						</setup>
						<connection>
								<use>core_setup</use>
						</connection>
					</stores_setup>
					<stores_write>
						<connection>
								<use>core_write</use>
						</connection>
					</stores_write>
					<stores_read>
						<connection>
								<use>core_read</use>
						</connection>
					</stores_read>
		</resources> 
	</global>
	<default>
		<piextensionsstore>
			<stores_group>
				<stores_enabled>1</stores_enabled>
			</stores_group>
		</piextensionsstore>
	</default>
</config>
