/* Alphacube Popup Window Overrides */


#amazon_modal_top { height:1px; }
#amazon_modal .alphacube_w, #amazon_modal .alphacube_e { width:1px; }
/*#amazon_modal_row2 { position:relative; margin-top:-20px; }*/
/*#amazon_modal_close { display:none; right:-6px; }*/
